<app-blog-header [title]="blog()?.title ?? ''"></app-blog-header>

<div class="blog-detail">
  <a class="button" routerLink="/">Zurück zur Übersicht</a>
  <div class="blog-detail--meta">
    <p class="meta-info">
      Veröffentlicht am {{ getLocalizedDateString(blog()?.createdAt) }}
    </p>
    <p>Autor: {{ blog()?.author }}</p>
  </div>
  <!--  <figure>-->
  @if (blog()?.headerImageUrl) {
    <img [src]="blog()?.headerImageUrl" [alt]="blog()?.title" />
  } @else {
    <img src="https://placehold.co/800x200" alt="placeholder" />
  }
  <!--  </figure>-->
  <p>{{ blog()?.content }}</p>

  @if (getComments(blog()).length > 0) {
    <h2>Kommentare</h2>
    @for (comment of getComments(blog()); track comment.id) {
      <div class="blog-detail--comment">
        <p>{{ comment.content }}</p>
        <div class="blog-detail--comment__meta">
          <p class="meta-info">
            {{ getLocalizedDateString(comment.createdAt) }}
          </p>
          <p>{{ comment.author }}</p>
        </div>
      </div>
      <hr />
    }
  }
</div>
