.blog-detail {
  padding: 25px;

  &--meta,
  &--comment {
    display: flex;
    justify-content: space-between;
  }

  &--coment__meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 100%;
  }
}
