<div class="blog-card">
  @if (blog?.headerImageUrl) {
    <img
      class="blog-card__background"
      [src]="blog?.headerImageUrl"
      [alt]="blog?.title"
    />
  }
  <figure>
    @if (blog?.headerImageUrl) {
      <img [src]="blog?.headerImageUrl" [alt]="blog?.title" />
    } @else {
      <img src="/fallback-img.png" alt="placeholder" />
    }
  </figure>
  <div class="blog-card__content">
    <h2>{{ blog?.title }}</h2>
    <p>{{ blog?.contentPreview }}</p>
    <hr />
    <a class="button button-blue" [routerLink]="['/blogs', blog?.id]"
      >Details</a
    >
  </div>
</div>
