<main class="main">
  <div class="container">
    <mat-card>
      <h2>{{ title }}</h2>

      <mat-form-field appearance="fill">
        <mat-label>Add User</mat-label>
        <input matInput [(ngModel)]="newUser" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addUser()">
        Add User
      </button>

      <h3>User List</h3>
      <ul>
        <li
          *ngFor="let user of users"
          (click)="selectUser(user)"
          [ngClass]="{ selected: selectedUser === user }"
          [ngStyle]="{ color: selectedUser === user ? color : 'black' }"
        >
          {{ user }}
        </li>
      </ul>

      <div *ngIf="selectedUser">
        <h4>You selected: {{ selectedUser }}</h4>
        <button mat-button (click)="deselectUser()">Deselect</button>
      </div>

      <div>
        <h4>Change Text Color:</h4>
        <button mat-button (click)="setColor('red')">Red</button>
        <button mat-button (click)="setColor('blue')">Blue</button>
        <button mat-button (click)="setColor('green')">Green</button>
      </div>
    </mat-card>
  </div>
</main>

<router-outlet />
